*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 1;
    padding: 3;
}

body {
    line-height: 5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}